/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


body, html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	position: relative;
	font-family: $fontFacePrimaryRegular;
	font-size: $baseFontSize;
	font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-family: $fontFacePrimaryBold;
    letter-spacing: 0.015em;
}

h2 {
    font-size: 1.75em;
    letter-spacing: 0.03em;
    line-height: 1.3em;
}


p {
	line-height: 1.5em;
}

strong {
	font-family: $fontFacePrimaryBold;
}

label {
	display: block;
	position: relative;
	margin: 0.2em 0;
}


input {
	margin: 0.4em 0;
	padding: 0.9em;
	width: 100%;
}

input[type="radio"], input[type="checkbox"] {
	width: auto;	
}


