
/**
 * Base properties
 */
$baseFontSize: 16px;
$baseMaxWidth: 1200px;

/**
 * Fonts
 * @type {String}
 */
$fontFacePrimaryRegular: "Bariol-regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
$fontFacePrimaryBold: "Bariol-bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
$fontFacePrimaryItalic: '';

/**
 * Colours
 */
$primaryColour: #c8212a;

/**
 * Breakpoints
 * vertical
 */
@custom-media --xs-screen (min-width:0px);
@custom-media --sm-screen (min-width:768px);
@custom-media --md-screen (min-width:992px);
@custom-media --lg-screen (min-width:1200px);

/**
 * Breakpoints 
 * Horizontal
 */
@custom-media --xs-v-screen (min-height:0px);
@custom-media --sm-v-screen (min-height:480px);
@custom-media --md-v-screen (min-height:768px);
@custom-media --lg-v-screen (min-height:1200px);


