---
notes: |
  Example of animation duration and ease type depending on Fade or Movement
---

<div class="animation animation-fade animation-fade-interact-hover">
	<p><strong>Fade:</strong> Duration 0.3s Easing: ease-in-out-quad (Hover to see effect)</p>
</div>

<div class="animation animation-movement animation-movement-interact-hover">
	<p><strong>Movement:</strong> Duration 0.8s Easing: ease-in-out-quad (Hover to see effect)</p>
</div>