<blockquote>
	<p>As my fellow HTML5 Doctor, Oli Studholme has showed, people seldom quote exactly 
	– so sacrosanctity of the quoted text isn’t a useful ideal – and in print etc, 
	citations almost always appear as part of the quotation – it’s highly conventional.</p>
	<footer>
		— <cite><a href="http://www.brucelawson.co.uk/2013/on-citing-quotations-again/">Bruce Lawson</a></cite>
	</footer>
</blockquote>