---
notes: |
  TODO - Review the fallback fonts
---

<p>Primary font: Bariol Regular, Helvetica Neue, Helvetica Arial, sans-serif</p>
<p class="type-em">Primary font italic: Bariol Regular, Helvetica Neue, Helvetica Arial, sans-serif</p>
<p class="type-strong">Primary font bold: Bariol Bold, Helvetica Neue, Helvetica Arial, sans-serif</p>

<!-- <p>Secondary font: [insert font name]</p> -->
<!-- <p>Secondary font italic: [insert font name]</p> -->
<!-- <p>Secondary font bold: [insert font name]</p> -->
