---
fabricator: true
---
<div data-f-toggle="labels">
	<h1>Components</h1>
	<p>Describe what are components and how they work as part of the UI library.</p>
</div>

{{#each materials.components.items}}
	{{> f-item this}}
{{/each}}
