---
notes: |
  The ```.grid-edit``` has been applied to display the grid structure, do not recommend using in production.
---
<div class="grid grid-edit">
	<div class="grid-col-xs-12 grid-col-sm-3">
		<p>col 1</p>
	</div>
	<div class="grid-col-xs-12 grid-col-sm-3">
		<p>col 2</p>
	</div>
	<div class="grid-col-xs-12 grid-col-sm-3">
		<p>col 3</p>
	</div>
</div>