---
notes: |
 For consistency when working with grids recommend using ```.grid-col-xs-12``` for full-width layouts.
---

<div class="grid grid-edit">
	<div class="grid-col-xs-12">
		<p>col 1</p>	
	</div>
</div>