---
image: '../assets/toolkit/images/hero-image.jpg'
notes:
 Javascript will be applied to know when the image has loaded, this will apply an ```is-active``` class which will slowly fade in the image in.
 There may be a need to make this a carousel, yet to be determined.
---

<div class="hero">
	<div class="hero-media" style="background: url({{image}}) no-repeat center center;"></div>
	<div class="hero-content">
		<h2 class="type-inverse type-shadow">Strategic insight drives creative design innovation</h2>
	</div>
</div>