/**
* Stylguide demo usage
 */

$animationEase: cubic-bezier(0.455, 0.030, 0.515, 0.955); 
$animationFadeDuration: 0.3s;
$animationMoveDuration: 0.8s;


.animation {
	margin: 1em 0;
	position: relative;
	background: rgba(0,0,0,0.1);
	padding: 0.2em 0.5em;
	text-align: center;

	opacity: 1;
	visibility: visible;
}

.animation-fade {
	transition-property: opacity, visibility;
  	transition-duration: $animationFadeDuration;
  	transition-timing-function: $animationEase;	
}

.animation-movement {	
	transition-property: transform;
  	transition-duration: $animationMoveDuration;
  	transition-timing-function: $animationEase;	
}


.animation-movement-interact-hover {


	&:before {
		content: '';
    	display: block;
    	width: 1em;
    	height: 100%;
    	position: absolute;
    	top: 0;
    	left: 1em;
    	background: rgba(0,0,0,0.5);
		margin-left: -1em;
		cursor: pointer;

		transition-property: left;	
  		transition-duration: $animationMoveDuration;
  		transition-timing-function: $animationEase;	

	}

	&:hover {		
		&:before {
			left:100%;
		};
	};
}


.animation-fade-interact-hover {
	cursor:pointer;
	&:hover {
		opacity: 0;
		visibility: hidden;
	}
}


