.f-item-notes {
    padding: 0.2em 1.2em;
    margin: 1.9em 0;
    background: #f7f7f7;
    border-radius: 3px;
    color: rgba(0, 0, 0, 0.58);
    font-family: helvetica neue, helvetica;
}

.f-item-code, .f-menu {
	font-family: helvetica neue, helvetica;
}

.f-item-heading {
    /*font-size: 1.1em;*/
    color: #4A4A4A;
}

.f-item-heading-group {
    /*font-size: 13px;*/
}