@font-face {
  font-family: 'Bariol-regular';
  font-path: '../fonts/BariolRegular';
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'Bariol-bold';
	font-path: '../fonts/BariolBold';
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Bariol-light';
	font-path: '../fonts/BariolLight';
	font-weight: normal;
	font-style: normal;
}

