
$gridMaxWidth: $baseMaxWidth;


.grid {
	position: relative;
	min-height: 20px;
	padding-left: 1em;
	padding-right: 1em;
	max-width: $gridMaxWidth;
	margin-left: auto;
	margin-right: auto;
	lost-utility: clearfix;
	
}

/**
 * Simple hack to test grid elements
 */
.grid-edit {
	lost-utility: edit;
	text-align: center;
}

.grid-full {
	width: 100%;
}

/**
 * Grid Columns
 */
.grid-col-xs-12 {
	lost-column: 1/1;
}

@media (--sm-screen) {
	.grid-col-sm-3 {
		lost-column: 1/3;
	}
}

