 /**
  * TODO: Consider for mobile how this will work;
  * TODO: Consider mixins ;
  */
.hero {
	position: relative;	
	height:20em;
	overflow: hidden;
}

.hero-media {
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin: auto;
	width:100%;
	height: 100%;
	z-index: 1;
	/*background: $primaryColour;*/
	background-size: cover!important;
	
	transition-property: transform, filter;
  	transition-duration: $animationFadeDuration;
  	transition-timing-function: $animationEase;	

}

.hero-media:after {
	content: '';
	display: block;
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin: auto;
	width:100%;
	height:100%;
	background: rgba(0,0,0,0.2);

	opacity: 0;
	visibility: hidden;


	transition-property: opacity, visibility;
  	transition-duration: $animationFadeDuration;
  	transition-timing-function: $animationEase;	
}


.hero-content {
	position: absolute;
	bottom:0;
	left:0;
	right:0;
	text-align: center;
    padding: 2.5em 1em;
	z-index: 2;
}

/**
 * Larger screen sizes
 */
@media (--lg-screen) {
	
	.hero-media {
		transform:scale(1.03);
		filter: blur(0.1em);
	}
	
	.hero-media:after {
		opacity: 1;
		visibility: visible;
	}

}